{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}
{% endif %}
{% endwith %}

<form action="/add_pet" method="POST">

    <input type="text" name="name" placeholder="name">
    <input type="text" name="owner" placeholder="owner">
    <input type="text" name="species" placeholder="species">
    <input type="text" name="sex" placeholder="sex">
    <input type="text" name="birth" placeholder="birth">
    <input type="text" name="death" placeholder="death">

    <button type="submit">
        Agregar
    </button>

</form>

<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Dueño</td>
            <td>Especie</td>
            <td>sex</td>
            <td>Nacimiento</td>
            <td>Fallecimiento</td>
            <td>OPERACIONES</td>
        </tr>
    </thead>
    <tbody>
        {% for pet in pets %}
            <tr>
                <td>{{ pet.1 }}</td>
                <td>{{ pet.2 }}</td>
                <td>{{ pet.3 }}</td>
                <td>{{ pet.4 }}</td>
                <td>{{ pet.5 }}</td>
                <td>{{ pet.6 }}</td>
                <td>
                    <a href="/edit/{{ pet.0 }}">Editar</a>
                    <a href="/delete/{{ pet.0 }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}